<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>sum</servlet-name>
        <servlet-class>sum</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Sum</servlet-name>
        <servlet-class>controller.Sum</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Home</servlet-name>
        <servlet-class>controller.Home</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Login</servlet-name>
        <servlet-class>controller.Login</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Register</servlet-name>
        <servlet-class>controller.Register</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Detailcontrol</servlet-name>
        <servlet-class>controller.Detailcontrol</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Search</servlet-name>
        <servlet-class>controller.Search</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Manager</servlet-name>
        <servlet-class>controller.Manager</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteTour</servlet-name>
        <servlet-class>controller.DeleteTour</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateTour</servlet-name>
        <servlet-class>controller.UpdateTour</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddTour</servlet-name>
        <servlet-class>controller.AddTour</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManagerAccont</servlet-name>
        <servlet-class>controller.ManagerAccont</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteUser</servlet-name>
        <servlet-class>controller.DeleteUser</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Blockuser</servlet-name>
        <servlet-class>controller.Blockuser</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Unblockuser</servlet-name>
        <servlet-class>controller.Unblockuser</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DetailTour</servlet-name>
        <servlet-class>controller.DetailTour</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegisterTour</servlet-name>
        <servlet-class>controller.RegisterTour</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteRegisterTour</servlet-name>
        <servlet-class>controller.DeleteRegisterTour</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TourUser</servlet-name>
        <servlet-class>controller.TourUser</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>sum</servlet-name>
        <url-pattern>/sum</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Sum</servlet-name>
        <url-pattern>/Sum</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Home</servlet-name>
        <url-pattern>/Home</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Login</servlet-name>
        <url-pattern>/Login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Register</servlet-name>
        <url-pattern>/Register</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Detailcontrol</servlet-name>
        <url-pattern>/Detailcontrol</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Search</servlet-name>
        <url-pattern>/Search</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Manager</servlet-name>
        <url-pattern>/Manager</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteTour</servlet-name>
        <url-pattern>/delete</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateTour</servlet-name>
        <url-pattern>/UpdateTour</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddTour</servlet-name>
        <url-pattern>/AddTour</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManagerAccont</servlet-name>
        <url-pattern>/ManagerAccont</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteUser</servlet-name>
        <url-pattern>/DeleteUser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Blockuser</servlet-name>
        <url-pattern>/Blockuser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Unblockuser</servlet-name>
        <url-pattern>/Unblockuser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DetailTour</servlet-name>
        <url-pattern>/DetailTour</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegisterTour</servlet-name>
        <url-pattern>/RegisterTour</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteRegisterTour</servlet-name>
        <url-pattern>/DeleteRegisterTour</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TourUser</servlet-name>
        <url-pattern>/TourUser</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>
            Home
        </welcome-file>
    </welcome-file-list>
</web-app>
